site_name: SpacePhyML
site_author: Jonah Ekelund
site_description: SpacePhyML Documentation
copyright: Copyright &copy; 2024 Jonah Ekelund

repo_url: https://github.com/Jonah-E/SpacePhyML

nav:
  - Home: index.md
  - Quick Start: quick_start.md
  - User Guide:
    - Overview: user_guide/overview.md
    - Datasets:
      - MMS: user_guide/datasets_mms.md
    - Dataset Creator : user_guide/dataset_creator.md
    - Examples : user_guide/examples.md
  - API: reference/

theme:
  name: mkdocs

markdown_extensions:
  - footnotes

watch:
  - docs
  - spacephyml
  - scripts
  - examples

plugins:
  - search
  - autorefs
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
        - scripts/gen_ex_page.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      handlers:
        python:
          options:
            members_order: source
            show_source: false
            show_signature_annotations: true
            show_root_heading: false
            parameter_headigs: true
            heading_level: 2
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            separate_signature: true
            filters: ["!^_"]
            merge_init_into_class: true
